<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">
<h1>About The Alpha-Blog !</h1>
<br>
<pre>
The Alpha-Blog is created to practice RoR as part of my Udemy RoR course.
I hope I'm gonna do well on this course!!
Wish me Luck !
</pre>

</body>
</html>

<%= link_to 'home', root_path %>