<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">
<h1>Welcome To The Alpha-Blog !</h1>
<br>

<%= link_to 'Alpha-Blog', articles_path %> | <%= link_to 'About', about_path %>

<p>The Alpha-Blog is created to practice RoR as part of my Udemy RoR course.
I hope I'm gonna do well on this course!!
Wish me Luck !</p>
</body>
</html>

